@charset "utf-8";
div, span, body, header, nav, main, section, article, footer, p, ul, li, ol {
	margin: 0;
	padding: 0;	
}
body {
	width: 100%;
	overflow-x: hidden; 
}
footer {
	display: flex;
	width: 100%;
	height: 50px;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	font-size: 9pt;
	font-weight: bold;	
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: black;
}
header > h1 > a {
	text-decoration: none;
	color: white;
}
main {
	padding-top: 50px;
	display: flex;
	flex-flow: column;
	align-items: center;
}
#boardList{
	border-collapse: collapse; 
	margin: auto;
	width: 1200px;
	min-width: 800px;
}
#boardList tr {
	border-bottom: 1px solid #dadada;
	height: 45px;
}
#boardList tr:hover {
	cursor: default;
}
#boardList thead > tr {
	background-color: #5a5a5a;	
	color: white;
	font-weight: bold;
}
#boardList tbody td {
	text-align: center;
}
#boardList tbody > tr:hover {
	background-color: #dadada;
}
#boardList tbody .idx {
	width: 5%;
}
#boardList tbody .title {
	width: 60%;
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
}
#boardList tbody .title > a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
	display: block;
}
#boardList tbody .title > a:hover {
	cursor: pointer;
}
#boardList tbody .writer {
	width: 10%;
}
#boardList tbody .viewCount {
	width: 5%;
}
#boardList tbody .creationDate {
	width: 10%;
}
#boardList tbody .ipaddr {
	width: 10%;
}
.wrap {
	margin: 20px auto;
	width: 1200px;
	display: flex;
	justify-content: space-between;	
}
.viewBoard {
	width: 1200px;
	display: flex;
	justify-content: center;
	flex-flow: column;
}
.paging > a{
	text-decoration: none;
	color: inherit;
}



